/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html,
* {
  font-family: inherit;
  color: inherit;
  background: inherit;
}

body {
  color: #24292e;
  background: #fff;
  font-family: "Montserrat", sans-serif !important;
}

.dark {
  color: #adbac7;
  background: #22272e;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: transparent;
  position: absolute;
  width: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
